/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxHeading_t 				{background:url("../images/infoBoxHeading_t.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_t.png*/) 0px 0px repeat-x;margin:0px 10px 0px 10px; font-size:0px; line-height:0px;height:10px;}  
.infoBoxHeading_tl				{background:url("../images/infoBoxHeading_tl.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_tl.png*/) 0px 0px no-repeat;}
.infoBoxHeading_tr				{background:url("../images/infoBoxHeading_tr.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_tr.png*/) 100% 0px no-repeat;}

.infoBoxHeading_l 				{background:#dedede;}   
.infoBoxHeading_r				{background:#dedede;}
.infoBoxHeading_c				{background:#dedede;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px; height:100%;}

.infoBoxHeading_b 				{background:url("../images/infoBoxHeading_b.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_b.png*/) 0px 0px repeat-x;margin:0px 10px 0px 10px;font-size:0px; line-height:0px; height:10px;}  
.infoBoxHeading_bl				{background:url("../images/infoBoxHeading_bl.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_bl.png*/) 0px 0px no-repeat;}
.infoBoxHeading_br				{background:url("../images/infoBoxHeading_br.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_br.png*/) 100% 0px no-repeat;}

.infoBoxHeading_table			{margin:0px 0px 0px 0px;background:url("../images/infoBoxHeading_table.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_table.png*/) 0px 0px repeat-x #d0d0d0;}
.infoBoxHeading_td				{width:100%;padding:1px 23px 0px 41px;vertical-align:top;height:18px;background:url("../images/infoBoxHeading_td.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading_td.png*/) 19px 0px no-repeat}								
/* ************************************************************************************* */
.popup .infoBoxHeading_td		{color:#000000;font-size:16px;line-height:16px;font-weight:bold;}
.infoBoxHeading_td 				{color:#000000;font-size:16px;line-height:16px;font-weight:bold;}
.infoBoxHeading_td a 			{color:#000000;font-size:16px;line-height:16px;font-weight:bold;text-decoration:none}
.infoBoxHeading_td a:hover  	{color:#000000; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox_table					{margin:0px 0px 7px 0px;background:url("../images/infoBox_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_border.gif*/) 0px 100% repeat-x #f9f9f9;}
.infoBox_td 					{padding:0px 0px 0px 0px;width:100%;background:url("../images/infoBox_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_border.gif*/) 0px 0px repeat-y;}
/* ************************************************************************************* */
.infoBoxContents_table			{margin:0px;background:url("../images/infoBox_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_border.gif*/) 100% 0px repeat-y;}
.infoBoxContents_td				{padding:0px;background:url("../images/infoBox_bl.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_bl.gif*/) 0px 100% no-repeat;}
.infoBoxContents_table .boxText	{padding:6px 15px 17px 15px;background:url("../images/infoBox_br.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_br.gif*/) 100% 100% no-repeat;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBoxHeading2_t 				{background:url("../images/infoBoxHeading2_t.png") 0px 0px repeat-x;margin:0px 10px 0px 10px; font-size:0px; line-height:0px;height:10px;}  
.infoBoxHeading2_tl				{background:url("../images/infoBoxHeading2_tl.png") 0px 0px no-repeat;}
.infoBoxHeading2_tr				{background:url("../images/infoBoxHeading2_tr.png") 100% 0px no-repeat;}

.infoBoxHeading2_l 				{background:#dedede;}   
.infoBoxHeading2_r				{background:#dedede;}
.infoBoxHeading2_c				{background:#dedede;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px; height:100%;}

.infoBoxHeading2_b 				{background:url("../images/infoBoxHeading2_b.png") 0px 0px repeat-x;margin:0px 10px 0px 10px;font-size:0px; line-height:0px; height:10px;}  
.infoBoxHeading2_bl				{background:url("../images/infoBoxHeading2_bl.png") 0px 0px no-repeat;}
.infoBoxHeading2_br				{background:url("../images/infoBoxHeading2_br.png") 100% 0px no-repeat;}

.infoBoxHeading2_table			{margin:0px 0px 0px 0px;background:url("../images/infoBoxHeading2_table.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading2_table.png*/) 0px 0px repeat-x #414141;}
.infoBoxHeading2_td				{width:100%;padding:1px 23px 0px 38px;vertical-align:top;height:18px;background:url("../images/infoBoxHeading2_td.png"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBoxHeading2_td.png*/) 15px 0px no-repeat}								
/* ************************************************************************************* */
.popup .infoBoxHeading2_td		{color:#fff;font-size:16px;line-height:16px;font-weight:bold;}
.infoBoxHeading2_td 			{color:#fff;font-size:16px;line-height:16px;font-weight:bold;}
.infoBoxHeading2_td a 			{color:#fff;font-size:16px;line-height:16px;font-weight:bold;text-decoration:none}
.infoBoxHeading2_td a:hover  	{color:#fff; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox2_table						{margin:0px 0px 7px 0px;background:url("../images/infoBox2_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox2_border.gif*/) 0px 100% repeat-x #fff;}
.infoBox2_td 						{padding:0px 0px 0px 0px;width:100%;background:url("../images/infoBox_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox_border.gif*/) 0px 0px repeat-y;}
/* ************************************************************************************* */
.infoBoxContents2_table				{margin:0px;background:url("../images/infoBox2_border.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox2_border.gif*/) 100% 0px repeat-y;}
.infoBoxContents2_td				{padding:0px;background:url("../images/infoBox2_bl.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox2_bl.gif*/) 0px 100% no-repeat;}
.infoBoxContents2_table .boxText	{padding:16px 15px 17px 15px;background:url("../images/infoBox2_br.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/infoBox2_br.gif*/) 100% 100% no-repeat;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.infoBox3_table					{margin:0px 0px 20px 0px;}
.infoBox3_td 					{padding:0px 0px 0px 0px;width:100%;background:url("../images/z2.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/z2.gif*/) 10px 15px no-repeat}
/* ************************************************************************************* */
.infoBoxContents3_table .boxText{
								 width:100%;padding:15px 15px 0px 15px; height:60px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.box_cart					{margin-top:15px;margin-bottom:11px;}
.box_cart td				{padding:4px 0px 4px 0px;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText SPAN.newItemInCart 				{color: #ff0000;font-size:11px; line-height:14px;padding:4px 0px 4px 0px;}
.boxText a .newItemInCart					{color: #ff0000;font-size:11px; line-height:14px;}
.boxText a:hover .newItemInCart 			{color: #ff0000; text-decoration:underline;}
.boxText SPAN.oldItemInCart					{color: #999999;font-size:11px; line-height:14px;padding:4px 0px 4px 0px; display:block;}
.boxText a .oldItemInCart					{color: #999999;font-size:11px; line-height:14px;}
.boxText a:hover .oldItemInCart 			{color: #999999; text-decoration:underline;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText,
.boxText td, .boxText div			{color:#999999; font-size:11px; line-height:14px;  }
.boxText a							{color:#7d7d7d; font-size:12px; line-height:14px;  text-decoration:none;}
.boxText a b						{color:#999999; }
.boxText a:hover					{text-decoration:none;}
.boxText .order_history 			{width:100%;padding:3px 5px 3px 0px;}
.boxText .order_history a			{color:#7d7d7d; font-size:12px; line-height:18px; font-weight:normal; text-decoration:none;}
.boxText .order_history a:hover		{color:#7d7d7d; text-decoration:none;}

.boxText font						{color:#333333;}
.boxText font b a					{color:#333333; font-weight:bold; line-height:22px; text-decoration:none;}
.boxText font strong				{color:#333333; font-weight:bold;font-size:13px;}

.boxText span a					{color:#000000; font-size:12px; line-height:14px; font-weight:bold; text-decoration:none;}
.boxText span a:hover			{color:#000000; text-decoration:underline;}

.boxText span.productSpecialPrice 	{color:#000000;font-size:16px; line-height:18px; font-weight:bold; display:inline;}
.boxText b.productSpecialPrice 		{color:#000000;font-size:16px; line-height:18px; font-weight:bold;}
del						 			{color:#ff3000;font-size:16px; line-height:18px; font-weight:bold;}


.boxText div.img 				{margin:10px 0px 10px 0px; text-align:center;}
.boxText div.stars 				{margin:14px 0px 10px 0px;}

.boxText .name_padd				{padding:1px 21px 12px 21px;height:26px; vertical-align:middle; text-align:left;}
.boxText .pic_padd				{padding:0px 0px 0px 0px;text-align:left; vertical-align:middle;}
.boxText .price_padd			{padding:17px 0px 8px 0px;vertical-align:middle; text-align:center; height:10px; width:100%;}
.boxText .price_padd b			{color:#7d7d7d; font-size:12px; line-height:18px; font-weight:normal; display:none;}
.boxText .desc_padd				{padding:21px 21px 0px 21px;height:14px; text-align:left}		
.boxText select					{margin:15px 0px 7px 0px;border:1px solid #dedede;background:#fff; color:#999999;height:19px; width:100%;}	
.boxText .input					{margin:6px 0px 4px 0px;border:1px solid #dedede;background:#fff; color:#999999;height:19px; width:100%;}
.boxText .button_search			{width:15%;}
.boxText .button_search input	{margin:2px 0px 0px 0px;}
.boxText .text_search			{text-align:left; width:85%;}
.boxText .star_padd				{padding:15px 0px 0px 0px; text-align:center}
.boxText .advancedsearch				{padding:10px 0px 10px 0px; text-align:center;}
.boxText .button				{padding:2px 0px 0px 0px; height:6px; text-align:left; vertical-align:middle;}
.button td						{vertical-align:middle;padding-top:7px;}
.boxText .padd 					{padding:0px 0px 5px 0px;}

.search .boxText .go			{width:100%;border:0px solid #cccccc;background:transparent; color:#7a7979;vertical-align:middle;margin:0px 0px 0px 0px; height:29px; font-size:11px; line-height:12px;padding:0px 5px 2px 11px;}
.search  .boxText a				{color:#ffff9b; font-size:12px; line-height:12px; font-weight:normal; text-decoration:underline;}
.search	.table2					{width:267px; height:22px;margin:11px 0px 0px 0px;}
.search  .boxText .div			{color:#ffffff;font-size:22px;line-height:22px;font-weight:bold;  
								 padding:0px 0px 10px 0px;vertical-align:middle;} 
.search .boxText .advserch 		{padding:0px 0px 5px 0px; display:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText li							{padding:0px 0px 0px 0px; width:100%;}
.boxText li, .boxText li a, .boxText li a b
									{vertical-align:top; font-size:12px; line-height:12px; font-weight:normal;}
.boxText ul							{list-style:none;padding:0;}
.boxText .categories				{margin:0px 0px 0px 26px;}
.boxText .bestsellers				{margin:0px 0px 0px 13px;}
.boxText .information				{margin:0px 0px 0px 26px;}
.boxText .manufacturers				{margin:0px 0px 0px 26px;}
.boxText li a 						{display:block;}
.boxText ul li div 					{padding-left:10px;}


.boxText .bg_list 					{padding:0px 0px 0px 0px;}
.boxText .bg_list a					{color:#434343;
									 padding:9px 0px 9px 14px;background:url("../images/bg_list.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/bg_list.gif*/) 0px 12px no-repeat;}
.boxText .bg_list a:hover			{color:#888888; font-weight:normal;}
.boxText .bg_list a b				{color:#888888; font-weight:normal;text-decoration:none;}
.boxText .bg_list a:hover b			{color:#434343;}

.boxText .bg_list_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list_un a				{color:#434343;
									 padding:9px 0px 9px 14px;background:url("../images/bg_list.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/bg_list.gif*/) 0px 12px no-repeat;}
.boxText .bg_list_un a:hover		{color:#888888; font-weight:normal;}
.boxText .bg_list_un a b			{color:#888888; font-weight:normal;text-decoration:none;}
.boxText .bg_list_un a:hover b		{color:#434343;}
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText .bg_list2 					{padding:0px 0px 0px 0px;}
.boxText .bg_list2 a 				{padding:9px 0px 6px 14px;}
.boxText .bg_list2 a:hover 			{text-decoration:none;}

.boxText .bg_list2_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list2_un a				{padding:9px 0px 6px 14px;}
.boxText .bg_list2_un a:hover 		{text-decoration:none;}
/* ************************************************************************************* */
.boxText .bg_list2 					{padding:0px 0px 0px 0px;}
.boxText .bg_list2 a font			{color:#434343; }
.boxText .bg_list2 a:hover font		{color:#888888;text-decoration:none;}

.boxText .bg_list2_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list2_un a	font		{color:#434343;}
.boxText .bg_list2_un a:hover font	{color:#888888;text-decoration:none;}
/* ************************************************************************************* */
.boxText .bg_list2 a b				{color:#000;font-weight:bold;}
.boxText .bg_list2 a:hover b		{color:#888888;text-decoration:none;}

.boxText .bg_list2_un  				{}
.boxText .bg_list2_un a	b			{color:#000;font-weight:bold;}
.boxText .bg_list2_un a:hover b		{color:#888888;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
/* ************************************************************************************* */
.boxText .bg_list3 					{}
.boxText .bg_list3 a				{color:#434343;
						 			 padding:9px 0px 6px 14px;background:url("../images/bg_list.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/bg_list.gif*/) 0px 12px no-repeat;}
.boxText .bg_list3 a:hover			{color:#888888;text-decoration:none;}

.boxText .bg_list3_un 				{padding:0px 0px 0px 0px;}
.boxText .bg_list3_un a				{color:#434343;
						 			 padding:9px 0px 6px 14px;background:url("../images/bg_list.gif"/*tpa=http://osc4.template-help.com/osc_28658/images/bg_list.gif*/) 0px 12px no-repeat;}
.boxText .bg_list3_un a:hover		{color:#888888;text-decoration:none;}
/* ************************************************************************************* */
/* ************************************************************************************* */
