<table>
    <tr><td class="logo"><a href="index.php?action=Home"><img src="template/images/admin/logo.png"  border="0" alt="Trang chủ" width="313" height="48" style="background-color: transparent;"></a></td>
        <td class="navigation">
            <table>
                <tr><td class="search">
                            <table align="right" class="table">
                                <tr>
                                    <td> <a href="admin.php?page=HomeAdmin"><img src="template/images/admin/adminpage.png"  border="0" alt="Trang quản lý" width="313" height="48" style="background-color: transparent;"></a></td>
                                </tr>
                            </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<style type="text/css" >
    .bg2_body	{height:100%;background:url("template/images/admin/bg_admin.jpg") center 0px repeat fixed;}
</style>