<table cellpadding="0" cellspacing="0" border="0" class="navigation_table">
    <tr><td class="navigation_td">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr><td class="currencies">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr><td >Currencies:&nbsp;&nbsp;</td><td style="width:100%;"><form name="currencies" action="" method="get"><select name="currency" onChange="" class="select"><option value="USD" SELECTED>US Dollar</option><option value="EUR">Euro</option></select></form></td></tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td class="languages">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr><td class="td">Language:&nbsp;&nbsp;</td><td><a href=""><img src="template/images/english/icon.gif" border="0" alt="English" title=" English " width="24" height="15"></a><img src="template/images/spacer.gif" border="0" alt="" width="1" height="1"  class="languages_img"><a href=""><img src="template/images/german/icon.gif" border="0" alt="Deutsch" title=" Deutsch " width="24" height="15"></a><img src="template/images/spacer.gif"  border="0" alt="" width="1" height="1"  class="languages_img"><a href="" ><img src="template/images/espanol/icon.gif" border="0" alt="Espa&ntilde;ol" title=" Espa&ntilde;ol " width="24" height="15"></a></td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td class="z1">
                        <table cellpadding="0" cellspacing="0" border="0" align="right">
                            <tr>
                                <td><b>Shopping Cart&nbsp;</b>  Your cart contains <a href="index.php?action=ShoppingCart"><strong>0</strong>  items</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td></tr>
</table>