<!-- BEGIN: box -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr><td>
            <div class="cont_heading2_tl">
                <div class="cont_heading2_tr">
                    <div class="cont_heading2_t"></div>
                </div>
            </div>
            <div class="cont_heading2_l">
                <div class="cont_heading2_r">
                    <div class="cont_heading2_c">
                        <table cellpadding="0" cellspacing="0" border="0" class="cont_heading2_table">
                            <tr><td class="cont_heading2_td">{ContentTitle}</td></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cont_heading2_bl">
                <div class="cont_heading2_br">
                    <div class="cont_heading2_b"></div>
                </div>
            </div>
        </td></tr>
</table>
<div class="content_wrapper_r">
    <div class="content_wrapper_b">
        <div class="content_wrapper_l">
            <div class="content_wrapper_bl s_width2_100">
                <div class="content_wrapper_br content_wrapper3_padd">
                    <div class="s_width2_100">
                        {ContentInfo}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: box -->