<!-- BEGIN: ProductsList -->
<table border="0" width="" cellspacing="0" cellpadding="0" class="tableBox_output_table">
    <tr>
        <td  class="main"><table border="0" width="" cellspacing="0" cellpadding="0">
                <!-- BEGIN: row -->
                <tr>

                    <!-- BEGIN: col -->
                    <td align="left"  style="width:50%;">
                        <table cellpadding="0" cellspacing="0" border="0" class="prod_div">
                            <tr><td class="prod_padd2">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tr><td class="name name2_padd"><a href="">{ProductName}</a></td></tr>
                                        <tr><td class="pic2_padd"><div class="wrapper_pic_div" style="width:197px;height:157px;"><a href="" style="width:197px;height:157px;"><img src="{ProductImgURL}" border="0" alt="{ProductImgAlt}" title="{ProductImgTitle}" width="197" height="157"  style="width:197px;height:157px;">
                                                        <div class="wrapper_pic_t">
                                                            <div class="wrapper_pic_r">
                                                                <div class="wrapper_pic_b">
                                                                    <div class="wrapper_pic_l">
                                                                        <div class="wrapper_pic_tl">
                                                                            <div class="wrapper_pic_tr">
                                                                                <div class="wrapper_pic_bl">
                                                                                    <div class="wrapper_pic_br" style="width:197px;height:157px;"></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div></a></div></td></tr>
                                        <tr><td class="desc desc2_padd">{ProductInfo}</td></tr>
                                        <tr><td class="price2_padd"><span class="productSpecialPrice">{ProductPrice}</span></td></tr>
                                        <tr><td class="button2_padd button2_marg"><a href="" ><img src="template/images/english/button_details.gif" border="0" alt="" width="81" height="19"  class="btn1"></a> <a href="" ><img src="template/images/english/button_add_to_cart1.gif" border="0" alt="" width="104" height="19"  class="btn2"></a></td></tr>
                                    </table>
                                </td></tr>
                        </table></td>
                    <!-- END: col -->

                    <!-- BEGIN: colline -->
                    <td class="prod_line_y padd_vv"><img src="template/images/spacer.gif" border="0" alt="" width="1" height="1"></td>
                    <!-- END: colline -->

                </tr>
                <!-- END: row -->

                <!-- BEGIN: rowline -->
                <tr>
                    <td class="prod_line_x padd_gg" colspan="3"><img src="template/images/spacer.gif" border="0" alt="" width="1" height="1"></td>
                </tr>
                <!-- END: rowline -->

            </table>
        </td>
    </tr>
</table>
<!-- END: ProductsList -->