<!-- BEGIN: main -->
<form method="post" action="{action}" name="login">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody><tr>
                <td width="50%" class="main indent_2"><b>Khách hàng mới</b></td>
                <td><img width="10" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                <td width="50%" class="main indent_2"><b>Khách hàng quen thuộc</b></td>
            </tr>
            <tr>
                <td width="50%" height="100%">
                    <div class="wrapper_pic2_t infoBox_"><div class="wrapper_pic2_r">
                            <div class="wrapper_pic2_b"><div class="wrapper_pic2_l">
                                    <div class="wrapper_pic2_tl s_width2_100"><div class="wrapper_pic2_tr">
                                            <div class="wrapper_pic2_bl"><div class="wrapper_pic2_br wrapper_pic2_padd">
                                                    <div class="s_width2_100">
                                                        <table width="100%" cellspacing="5" cellpadding="0" border="0" style="height: 240px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="height: 100%;" class="main">Bạn là khách hàng mới của <span class="main" style="height: 100%;">Favorite Toys</span> ?<br>
                                                                        <br>
                                                                        Bằng cách tạo tài khoản khách hàng tại Favorite Toys, bạn có thể sử dụng được tất cả các chức năng mà website đã cung cấp, bạn sẽ shopping nhanh hơn, tiện lợi hơn. Rất hận hạnh được phục vụ các bạn.</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                </tr>
                                                                <tr><td>
                                                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="10"><img width="10" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                                    <td align="right"><a href="index.php?action=CreateAccount" ><img width="92" height="19" border="0" title=" Continue " alt="Continue" src="template/images/english/button_continue.gif"></a></td>
                                                                                    <td width="10"><img width="10" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td></tr>
                                                            </tbody></table>

                                                    </div>
                                                </div></div>
                                        </div></div>
                                </div></div>
                        </div></div>
                </td>
                <td><img width="1" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                <td width="50%" height="100%">
                    <div class="wrapper_pic2_t infoBox_">
                        <div class="wrapper_pic2_r">
                            <div class="wrapper_pic2_b">
                                <div class="wrapper_pic2_l">
                                    <div class="wrapper_pic2_tl s_width2_100">
                                        <div class="wrapper_pic2_tr">
                                            <div class="wrapper_pic2_bl">
                                                <div class="wrapper_pic2_br wrapper_pic2_padd">
                                                    <div class="s_width2_100">
                                                        <table width="100%" cellspacing="5" cellpadding="0" border="0" style="height: 240px;">
                                                            <tbody><tr><td><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td></tr>
                                                                <tr> <td colspan="2" class="main">Bạn đã có tài khoản? Vui lòng đang nhập tại đây.</td></tr>
                                                                <tr><td><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td></tr>
                                                                <tr>
                                                                    <td class="main"><b>Tên tài khoản:</b></td></tr>
                                                                <tr><td class="main width3_100"><input type="text" name="txtTaiKhoan"></td></tr>
                                                                <tr>
                                                                    <td class="main"><b>Mật mã:</b></td></tr>
                                                                <tr><td class="main width3_100"><input type="password" maxlength="40" name="txtMatKhau"></td></tr>
                                                                <tr><td colspan="2"><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td></tr>
                                                                <tr>
                                                                    <td class="smallText"><a href="index.php?action=PasswordForgotten">Quên mật mã ? Nhấn vào đây.</a></td></tr>
                                                                <tr><td height="100%"><img width="100%" height="10" border="0" alt="" src="images/pixel_trans.gif"></td></tr>
                                                                <tr><td>
                                                                        <table width="100%" cellspacing="0" cellpadding="2" border="0">
                                                                            <tbody><tr>
                                                                                    <td width="10"><img width="10" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                                    <td align="right"><input type="image" title=" Sign In " alt="Sign In" src="template/images/english/button_login1.gif"></td>
                                                                                    <td width="10"><img width="10" height="1" border="0" alt="" src="images/pixel_trans.gif"></td>
                                                                                </tr>
                                                                            </tbody></table>
                                                                    </td></tr>
                                                            </tbody></table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody></table>
</form>
<!-- END: main -->