<div>
    <table cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td id="m1" onMouseOut="this.id='m1';" onMouseOver="this.id='over_m1';" onClick="document.location='index.php?action=Home';" nowrap="nowrap"> Trang chủ</td>
            <td class="menu_separator"><img src="template/images/admin/menu_admin_separator.gif" border="0" alt="" width="2" height="37"></td>
            <td id="m2" onMouseOut="this.id='m2';" onMouseOver="this.id='over_m2';" onClick="document.location='admin.php?page=HomeAdmin'">Quản lý</td>
            <td class="menu_separator"><img src="template/images/admin/menu_admin_separator.gif" border="0" alt="" width="2" height="37"></td>
            <td id="m3" onMouseOut="this.id='m3';" onMouseOver="this.id='over_m3';" onClick="document.location='admin.php?page=Specials'">Thống kê</td>
            <td class="menu_separator"><img src="template/images/admin/menu_admin_separator.gif" border="0" alt="" width="2" height="37"></td>
            <td id="m4" onMouseOut="this.id='m4';" onMouseOver="this.id='over_m4';" onClick="document.location='admin.php?page=Review'" nowrap="nowrap">Menu</td>
            <td class="menu_separator"><img src="template/images/admin/menu_admin_separator.gif" border="0" alt="" width="2" height="37"></td>
            <td id="m5" onMouseOut="this.id='m5';" onMouseOver="this.id='over_m5';" onClick="document.location='admin.php?page=Contact'">Menu</td>
        </tr>
    </table>
</div>
<style type="text/css" >
    .menu 		{width:100%;padding:0px 0px 0px 0px; width:100%;background:url("template/images/admin/menu_admin_bg.gif") 0px 0px repeat-x;}
    .menu div		{background:transparent;}
    .menu table		{background:transparent;}
</style>