<table cellpadding="0" cellspacing="0" border="0" class="navigation_table">
    <tr><td class="navigation_td">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr><td>
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td class="navleft" ><a href="admin.php?action=QuanLyNhaSanXuat" title="Quản lý danh sách nhà sản xuất">Danh sách nhà sản xuất</a> </td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td class="navcenter"><a href="admin.php?action=QuanLyLoaiDoChoi" title="Quản lý danh sách loại đồ chơi">Danh sách loại đồ chơi</a></td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td class="navcenter"><a href="admin.php?action=QuanLyDoChoi" title="Quản lý danh sách đồ chơi">Danh sách đồ chơi</a></td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td>
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td class="navright"><a href="admin.php?action=SanPhamGiamGia" title="Danh sách các sản phẩm đang giảm giá">Sản phẩm giảm giá</a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td></tr>
</table>
<style type="text/css">
    .navigation_separator{
        width:10%;
        text-align:center;
    }
    .navleft a{
        font-weight: bold;
        text-align: left;
        padding:0px 0px 0px 20px;
    }
    .navright a{
        font-weight: bold;
        text-align: right;
        padding:0px 20px 0px 0px;
    }
    .navcenter a{
        font-weight: bold;
        text-align: center;
        padding:0px 10px 0px 10px;
    }
</style>