<table cellpadding="0" cellspacing="0" border="0" class="navigation_table">
    <tr><td class="navigation_td">
            <table cellpadding="0" cellspacing="0" border="0">
                <tr><td class="role">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td ><a href="#" title="Sorry! Nothing's here."><b>Hajz.. bỏ cái j zô đây</b></a> </td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td class="advancedsearch">
                        <table border="0" cellspacing="0" cellpadding="0" align="center">
                            <tr>
                                <td class="td" align="center"><a href="#" title="Tìm kiếm nâng cao"><img width="147" height="19" border="0" title=" Tìm kiếm nâng cao " alt="Tìm kiếm nâng cao" src="template/images/english/button_advanced_search.gif"></a></td>
                            </tr>
                        </table>
                    </td>
                    <td class="navigation_separator"><img src="template/images/navigation_separator.gif" border="0" alt="" width="1" height="13"></td>
                    <td class="z1">
                        <table cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                                <td><a href="#"><b>NULL&nbsp;</b></a></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td></tr>
</table>